workflows/maths-solver-workflow.json
{
  "name": "MATH_SOLVER",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Q.'] }}",
        "options": {
          "systemMessage": "You are a mathematics teacher.\n\nOutput rules (VERY IMPORTANT):\n- Respond ONLY in Markdown\n- Do NOT use LaTeX or $ symbols\n- Write all mathematics using proper Unicode symbols\n  (example: x², √16, ½, →, ≥, ≤)\n- Decide steps dynamically based on the question\n- Explain step by step like writing on a classroom board\n- Keep formatting clean and readable for a PDF\n",
          "maxIterations": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1184,
        -96
      ],
      "id": "fa7b709c-71c1-4237-b0ae-780accc80a36",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d923a439-9021-4246-9a54-578a9c6c1c6f",
              "name": "markdown",
              "value": "=# 🧮 Maths Teacher – Step-by-Step Solution\n\n## ❓ Question\n\n{{ $('MATH TEACHER_input').item.json['Q.'] }}\n\n---\n\n{{$json.output}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        -368
      ],
      "id": "f57cb31c-897c-4d35-917b-259762d28bc7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1216,
        64
      ],
      "id": "a4a8634d-fad0-486a-9ee9-dc1524736bf7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hYJq1urbH8Jn7K0c",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.markdown }}",
        "destinationKey": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -880,
        -128
      ],
      "id": "536d65c6-2424-497c-a737-b965792ed800",
      "name": "Markdown"
    },
    {
      "parameters": {
        "html_content": "={{ $json.html }}"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        -608,
        -368
      ],
      "id": "ecb02887-02b9-47f4-9adc-62aab3b91005",
      "name": "HTML to PDF",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "K4KepptrQAeISPQk",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "r230345@famt.ac.in",
        "subject": "Maths Solution – Step-by-Step (AI Teacher)",
        "emailType": "text",
        "message": "=Hello,\n\nPlease find attached the step-by-step maths solution prepared by the AI Maths Teacher.\n\n{{ $json.pdf_url }}\n\nRegards,\nn8n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -688,
        -144
      ],
      "id": "54fc9713-f40e-41f8-ab79-791ea6d17c0e",
      "name": "Send a message",
      "webhookId": "cc678bea-e2a8-453f-b305-3fab8274e026",
      "credentials": {
        "gmailOAuth2": {
          "id": "Hicv3fXtwaOzdMxy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "MATH TEACHER",
        "formDescription": "Enter an math question to get an answer step wise.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Q.",
              "fieldType": "textarea",
              "placeholder": "enter your question",
              "defaultValue": "Solve step by step:",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1152,
        -320
      ],
      "id": "8d446fbe-7f35-448b-b001-476bb7bd930f",
      "name": "MATH TEACHER_input",
      "webhookId": "0975ea04-0238-4b59-bb2c-9602c81ed2e2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a09717df-ed2e-485c-acde-19aecd371093",
              "name": "html",
              "value": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <script src=\"https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js\"></script>\n  <style>\n    body {\n      font-family: \"Times New Roman\", serif;\n      padding: 30px;\n      font-size: 14px;\n      line-height: 1.6;\n    }\n  </style>\n</head>\n<body>\n\n{{$json.html}}\n\n</body>\n</html>\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        -368
      ],
      "id": "82229fa0-2691-4d8c-93e3-66e7733ca0a2",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML to PDF": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MATH TEACHER_input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7a2100a-1dd8-42e3-a880-206738ea56fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e656a43bbd621c95099ca9fa871404f4211c6adda5f297d4ac4716c22c0faead"
  },
  "id": "g0xaEcFxr3OZDjbk",
  "tags": []
}
